html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #F5F9E9;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: #40523a;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.row.ng {
	margin: 0 !important;
	width: 100% !important;
}

.ib {
	display: inline-block;
}


a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.panel-body {
	background-color: #363457;
}

.panel {
	padding: 5px;
}

.panel-contents {
	border-radius: 5px;
	padding: 10px;
	height: 100%;
}

.header {
	background-color: #363457;
	margin-bottom: 5px;
	padding: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.header .row {
	width: 100%;
}

.panel-item {
	background-color: #00000042;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.mh-100 {
	max-height: 100%;
}

.h-100 {
	height: 100%;
}
